{% extends 'layerout.html' %}

{% block content %}

<div style="text-align: center;margin: 500px auto">
<p style="font-family: 华文行楷;font-size: 32px;color: #fd7e14">茫茫大雾 是我无穷无尽 无边无际的哀痛</p>
</div>
<!--
<div class="clearfix" style="background-clolr:#b6effb" >
<div style="text-align: center;margin: 50px auto">
<p style="font-family: 华文行楷;font-size: 32px;color: #fd7e14">茫茫大雾 是我无穷无尽 无边无际的哀痛</p>
</div>
<div style="margin: 60px auto;text-align: center"><img src="../static/img/Viego.jpg" alt="Veigo" width="1111" ></div>
</div>
-->
{% endblock %}
